.top{
    background-image: url("images/shoes3.jpeg");
    background-color: rgba(20,19,15,255);
    height:740px;
    background-position: 900px 0px;
    background-repeat: no-repeat;
    margin-left:-10px;
    margin-right: -8px;
    margin-top:-10px;
    margin-bottom: 9px;
}
.text{
    color:white;
    font-family: caveat;
    padding-top: 280px;
    padding-left: 300px;
    font-size: 500%;
}
.subtitle{
    color:white;
    padding-left:300px;
}
.downarrow{
    font-size: 300%;
    margin-top: 270px;
    margin-left: 750px;
}
.downarrowtext{
    text-decoration: none;
    color:white;
}
.downarrowtext:hover{
    color:red;
}