html{
    scroll-behavior: smooth;
}
.firstview{
    display: flex;
    /* background-color: rgba(20,19,15,255); */
    height:540px;
    margin-left:-10px;
    margin-right: -8px;
    margin-top:-10px;
    margin-bottom: 9px;
}
.block1{
    height:480px;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 100px;
}
.line{
    border-left-color: 2px solid black;
}
.div1-1{
    display:flex;
    margin-top: 250px;
    margin-left:100px;
    margin-right: 100px;
}
.location-symbol{
    width:90px;
    height:90px;
}
.font-effect-shadow-multiple{
    font-size: 300%;
}
.nametext{
    margin-left: 100px;
    font-size: 250%;
}
.text1{
    margin-left: 50px;
}
.maps{
    width:800px;
    height:400px;
    margin-top: 200px;
    margin-right:10px;   
}
.mapsdiv{
    margin-right: 10px;
}
.pin{
    width:60px;
    height:60px;
    background-color: red;
    border-radius: 50% 50% 50% 0;
    position: absolute;
    top: 310px;
    left: 98px;
    transform: rotate(-45deg);
    margin:-20px 0 0 -20px;
    animation-name: bounce;
    animation-fill-mode: both;
    animation-duration: 1s;
}
.pin::after{
    content:'';
    width:28px;
    height:28px;
    margin:16px 0 0 16px;
    background-color:white;
    position: absolute;
    border-radius: 50%;
}
.pulse{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width:28px;
    height:28px;
    position: absolute;
    top:340px;
    left:106px;
    margin: 11px 0 0 -12px;
    transform: rotateX(55deg);
    z-index: -1;
}

@keyframes bounce{
    0%{
        opacity: 0;
        filter:alpha(opacity=0);
        transform: translateY(-2000px) rotate(-45deg);
    }
    60%{
        opacity:1;
        filter:none;
        transform: translateY(30px) rotate(-45deg);
    }
    100%{
        transform: translateY(0) rotate(-45deg);
    }
}
.scrolldownimg{
    width:28px;
    height:50px;
}
.scrolldownimg:hover{
    width:35px;
    height:60px;
}
.scrolldownimgdiv{
    margin-left: 740px;
    margin-top: 100px;
}
.bottom1{
    margin-top: 200px;
    display: flex;
}
.catimgdiv{
    margin-left: 200px;
    margin-right: 270px;
}
.gingercat{
    width:250px;
    height:250px;
}
.contactusdiv{
    margin-left: 100px;
    font-size: 300%;
    font-family: caveat;
}
.icons{
    margin-top: 50px;
    margin-left: 100px;
    display: flex;
}
.logoimg1{
    width:52px;
    height:52px;
    margin-right: 20px;
    margin-top:-2px;
}
.logoimg2{
    width:44px;
    height:44px;
    margin-right: 20px;
}
.bottom1-side{
    margin-top: 40px;
}